*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
    color: white;
}

.card{
    /* height: 500px; */
    width: 85%;
    max-width: 400px;
    margin: 50px auto 0;
    background: linear-gradient(150deg , #00fee9 , #5b548a);
    /* padding: 50px 20px; */
    padding: 40px 15px;
    text-align: center;
    border-radius: 30px;
}

.search{
    /* background-color: pink; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search input{
    width: 70%;
    max-width: 250px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    padding: 10px 25px;
    outline: 0;
    flex: 1;
    font-size: 18px;
    /* text-align: center; */
    margin-right: 5px;
}

.search button{
    border: 0;
    outline: 0;
    border-radius: 20px;
    background: #fff ;
    cursor: pointer;
    height: 55px;
    width: 55px;
}
.search button img{
    width: 20px;
}

.weather{
    display: none;
    padding: 0;
    width: 100%;
    /* background-color: #5b548a; */
}


.weather h2{
    font-size: 45px;
    font-weight: 700;
}


.weather h1{
    font-size: 55px;
    font-weight: 900;
}
.weather img{
    width: 150px;
}



.details{
    display: flex;
    height: 150px;
    /* background-color: red; */
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 20px; */
    margin-top: 20px;
}

.info{
    /* background-color: grey; */
    /* width: 45%; */
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    margin-left: 5px;
}
.info img{
    min-width: 25%;
    width: 55px;
    margin-right: 10px;
}